# ---------------------------------------ORGANIZE-DATA---------------------------------------

### Import Library's

In [98]:
import pandas as pd
import numpy as np
import regex as re
import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

### Function

In [99]:
def organize(data, new_col_name, pattern, search_index):
    '''
    This function was created to organize data in different columns but actually mean the same thing.
    
    '''
    
    data[new_col_name] = np.nan
    for col in data.columns:
        for index in range(len(df)):
            try:
                data[new_col_name][index] = re.search(pattern, data[col][index])[search_index]
            except:
                pass

Definition of the values we need to give to the function:

- data: the dataframe we want to edit
- new_col_name: column name we want to insert clean data after editing
- pattern: the pattern we want to search with the regex module
- search_index: the index order we want when we search with regex

## Example

In [100]:
df = pd.DataFrame([
    ['Math Exam: 50','Physics Exam: 70','History Exam: 60','Chemistry Exam: 80'],
    ['Chemistry Exam: 80','Math Exam: 50','History Exam: 60','Physics Exam: 70'],
    ['History Exam: 60','Chemistry Exam: 80','Physics Exam: 70','Math Exam: 50']], index=['stu1', 'stu2', 'stu3'])

In [101]:
df

,0,1,2,3
stu1,Math Exam: 50,Physics Exam: 70,History Exam: 60,Chemistry Exam: 80
stu2,Chemistry Exam: 80,Math Exam: 50,History Exam: 60,Physics Exam: 70
stu3,History Exam: 60,Chemistry Exam: 80,Physics Exam: 70,Math Exam: 50

- As you can see, the exam grades are in different columns on each row.
- In order for the change to be seen more clearly, each student was given the same grade in each branch.

In [102]:
columns = df.columns

- In the last step, we saved them as we are going to drop the columns we are currently working with.

In [103]:
df.reset_index(inplace=True)

In [104]:
df

,index,0,1,2,3
0,stu1,Math Exam: 50,Physics Exam: 70,History Exam: 60,Chemistry Exam: 80
1,stu2,Chemistry Exam: 80,Math Exam: 50,History Exam: 60,Physics Exam: 70
2,stu3,History Exam: 60,Chemistry Exam: 80,Physics Exam: 70,Math Exam: 50

- For the function to work, we need to use reset index in our data.

In [105]:
organize(df, 'math', 'Math Exam: (\w.+)', 1)
organize(df, 'chem', 'Chemistry Exam: (\w.+)', 1)
organize(df, 'hist', 'History Exam: (\w.+)', 1)
organize(df, 'pyhsc', 'Physics Exam: (\w.+)', 1)

In [106]:
df

,index,0,1,2,3,math,chem,hist,pyhsc
0,stu1,Math Exam: 50,Physics Exam: 70,History Exam: 60,Chemistry Exam: 80,50,80,60,70
1,stu2,Chemistry Exam: 80,Math Exam: 50,History Exam: 60,Physics Exam: 70,50,80,60,70
2,stu3,History Exam: 60,Chemistry Exam: 80,Physics Exam: 70,Math Exam: 50,50,80,60,70

- We are now rid of the data clutter that is difficult to work with. Now we can also get rid of the old columns.

In [107]:
df.drop(columns,axis=1, inplace=True)
df

  index math chem hist pyhsc
0  stu1   50   80   60    70
1  stu2   50   80   60    70
2  stu3   50   80   60    70